# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Translations
*.mo

# Django static files
src/static/

# Files for customer
src/locale/*/LC_MESSAGES/django.po

.venv/
.vscode/
node_modules/
static/dist/bundle.js
